# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Dataset downloaded by torchvision
data/

# Model checkpoints
*.pth
*.pt
# Cho phép lưu thư mục checkpoint chính thức của Practice 1
!Practice_1/models/

# Checkpoint baseline của TV4
!Practice_1/models/fashion_mnist_mlp_trained.pth

# Checkpoint tốt nhất của TV6
!Practice_1/models/best_hyperparameter_model.pth

# Temporary files
*.tmp

# Logs
*.log
