# Dữ liệu
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Mô hình và TensorBoard
checkpoints/*
runs/*
!checkpoints/.gitkeep
!runs/.gitkeep
*.pth
*.pt
*.ckpt

# Python/Jupyter
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Môi trường
.venv/
venv/
